img {
 height: 92px;

}

.container {
 display: flex;
 align-items: center;
 justify-content: center;
 margin-top: 10rem;
}

.button-container {
 text-align: center;
 margin-top: 30px;
}

.button-container button {
 background-color: #f8f9fa;
 border: 1px solid #f8f9fa;
 border-radius: 4px;
 color: #3c4043;
 font-family: Roboto, arial, sans-serif;
 font-size: 14px;
 margin: 11px 4px;
 padding: 0 16px;
 line-height: 27px;
 height: 36px;
 min-width: 54px;
 text-align: center;
 cursor: pointer;
 user-select: none;
}

.button-container button:hover {
 box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
 background-color: #f8f9fa;
 border: 1px solid #dadce0;
 color: #202124;
}


.button-1 {
 margin-right: 15px;
}